@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #0D0D0D;
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Solana Logo Gradient */
.solana-gradient {
  background: linear-gradient(135deg, #9945FF 0%, #14F195 100%);
}

